<div class="container-footer">
    <button id="previous-btn" (click)="previous.emit()" [disabled]="currentStep() === 1">Anterior</button>
    @if (currentStep() < totalSteps) { 
        <button id="next-btn" (click)="next.emit()"
        [disabled]="!canProceed() && currentStep() < totalSteps">
        Próximo
        </button>
        } @else {
        <button id="confirm-btn" (click)="confirm.emit()">
            Confirmar
        </button>
        }
        <button id="restart-btn" (click)="restart.emit()">Reiniciar</button>
</div>